// Colors
$textlight: whitesmoke;
$textdark: #1e1e1e;
$card-btn-top: #2e9394;
$card-btn-bottom: #bfd3c3;

.text_color1 {
    color: #11323b;
}

.text_color2 {
    color: #266363;
}

.text_color3 {
    color: #444543;
}

.text_color4 {
    color: #d1b47c;
}

.text_color5 {
    color: #dfd8b3;
}


.background_color1 {
    background-color: #11323b !important;
}

.background_color2 {
    background-color: #266363 !important;
}

.background_color3 {
    background-color: #444543 !important;
}

.background_color4 {
    background-color: #d1b47c !important;
}

.background_color5 {
    background-color: #dfd8b3 !important;
}

.border_color1 {
    border-color: #11323b;
}

.border_color2 {
    border-color: #266363;
}

.border_color3 {
    border-color: #444543;
}

.border_color4 {
    border-color: #d1b47c;
}

.border_color5 {
    border-color: #dfd8b3;
}