// Colors
$textlight: whitesmoke;
$textdark: #1e1e1e;
$card-btn-top: #2e9394;
$card-btn-bottom: #bfd3c3;

.text_color1 {
    color: #fffeff;
}

.text_color2 {
    color: #38322f;
}

.text_color3 {
    color: #d14c52;
}

.text_color4 {
    color: #dcaa9a;
}

.text_color5 {
    color: #e0cecf;
}

.background_color1 {
    background-color: #fffeff;
}

.background_color2 {
    background-color: #38322f;
}

.background_color3 {
    background-color: #d14c52;
}

.background_color4 {
    background-color: #dcaa9a;
}

.background_color5 {
    background-color: #e0cecf;
}

.primary_text_color1 {
    color: #f5f5f5;
}

.primary_text_color2 {
    color: #f5f5f5;
}

.primary_text_color3 {
    color: #f5f5f5;
}

.primary_text_color4 {
    color: #f5f5f5;
}

.primary_text_color5 {
    color: #f5f5f5;
}

.border_color1 {
    border-color: #fffeff;
}

.border_color2 {
    border-color: #38322f;
}

.border_color3 {
    border-color: #d14c52;
}

.border_color4 {
    border-color: #dcaa9a;
}

.border_color5 {
    border-color: #e0cecf;
}